{% extends 'base.html' %}
{% block content %}

    <h1>{{ movie.title }}</h1>

   <ul>
        <li>Release Date: {{ movie.released_at }}</li>
        <li><a href = {{ movie.imdb_url }}>IMDB</a></li>

    </ul>
      <form action="/movies/{{ movie.movie_id }}" method="POST">
    Rate this movie:
    <select name="score">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=5>5</option>
    </select>
    <input type="submit" value="Rate It!">
    </form>

    <p><b>Average rating:</b> {{ average }}</p>
    {% if prediction %}
      <p>We predict you will rate this movie {{ prediction }}.</p>
    {% endif %}
    <p>But the Evil Eye thinks you have crap taste. The Evil Eye predicts you will rate this movie: </p>

    {% if eye_rating %}
      <p>Eye Rating: <b>{{ eye_rating }}</b></p>
    {% if difference %}
      <p>Difference: <b>{{ difference }}</b></p>
    {% endif %}
    {% if beratement %}
      <p>The Eye says: <b>{{ beratement }}</b></p>
    {% endif %}
    {% endif %}

    {% if "user_id" in session %}
      <h2>Your Rating</h2>
    {% if user_rating %}
        <p>You currently rate this a {{ user_rating.score }}</p>
    {% endif %}
      <form action="/movies/{{ movie.movie_id }}" method="POST">
          <label>Rating:
              <input type="number" name="score">
          </label>
          <input type="submit" value="Rate">
      </form>
  {% endif %}

        {% if movie.ratings %}
        <h2>Ratings</h2>
        <ul>
        {% for rating in movie.ratings %}
            <li>
                User #<b><em> <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a></em></b> 
         gave this movie a rating of: {{ rating.score }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
 


{% endblock %}